<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>New Article</h1>
        <%= render 'articles/form' %>
    </div>
  </div>
</div>
