<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <article>
        <h1>
          <%= @article.title %>
          <small>
            <%= link_to "âœï¸" , edit_article_path(@article) %>
            <%= link_to "ðŸš®ï¸", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }%>
          </small>
        </h1>
        <hr>
        <p><%= @article.content %></p>
      </article>
    </div>
  </div>
</div>
